<div class="task-list">
	<h2>Tareas</h2>
	<% if tasks.empty? %>

		<p class="center-notice">No hay tareas, agrega una nueva ↓ </p>
	<% else %>
		<% tasks.each do |task| %>
			<%= render task %>
		<% end %>
	<% end %>
	
</div>